<h2>Recent posts</h2>
<div class="lists">
  <ul>
    <% @posts.each do |post| %>
      <ul>
        <li><%= post.comments.size %> Comments</li>
        <li><%= post.user.username %></li>
        <li><strong><%= link_to post.title, post_path(post.id) %></strong></li>
        <li><%= post.body.truncate(300, separator: " ") %>...</li>
        <br>
      </ul>
    <% end %>
  </ul>
</div>


